body {
}

#name {
    padding-top: 130px;
}
#projects{
    padding-top: 80px;
    padding-bottom: 80px;
    
   
}
#projectcontent{
    padding-top: 50px;
    padding-bottom: 30px;
}
#projects h1{
    text-align: center;
}
#projects p{
    padding-top: 20px;
}
#aboutcontent{
    padding-top: 80px;
    padding-bottom: 80px;
}
#service{
     padding-top: 80px;
    padding-bottom: 80px;
}
#contactform{
    padding-top: 80px;
    overflow:scroll;
    padding-bottom: 80px;
}
#firstname
{  
 font-family: 'Montserrat', sans-serif;
 font-size: 500%;

}
hr
{
    max-width: 500px;
}

#homepage{

    position: relative;
    width:100%;
    min-height:100vh;
    text-align:center;
    background-size: cover;
    background-position: center;
    background-image: url('../images/header2.jpg');
    color:white;
}
#copyright{
    font-size:medium;
}
